<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  
  <title>Random Quote Generator</title>
</head>
<body class="colored" id="bod">
  <div class="container container-fluid">
    <div class="jumbotron" id="quoteBox">
      <div id="text">
        <h1 id="loading"><i class="fa fa-spinner fa-spin"></i></h1>
      </div>
      <div id="buttons">
        <span>
          <a class="btn btn-default colored" id="tweet" target="_blank" href="https://www.twitter.com/intent/"><i class="fa fa-lg fa-twitter"></i></a>
        </span>
        <span>
          <button class="btn btn-default colored" id="newQuote">New Quote</button>
        </span>
      </div>
    </div> 
  </div>
  
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="js/main.js"></script>
  
</body>   
</html>